body {
background-color : 	#EEE8AA;
color : #0f0c0c;
font-size: 1.2em;
font-family: sans-serif;}

#nav_bar {
	background-color: #333333;
	color : white;
	display : flex;
	justify-content: space-between;
	 position: fixed;
	 width : 100%;
    top: 0;
    left : 0;
    margin-bottom: 50px;
    align-items: flex-end;
}

.logo {
	margin-left: 50px;
}

#nav_bar ul {
	display : flex;
	flex-direction: row;
	align-items: space-around;
	list-style: none;
	justify-content: flex-end;

}

#nav_bar li {
margin-right: 40px;

}


#nav_bar a {
	font-size: 1.5em;
	color : #f4e5b0;
	text-decoration: none;
}


#nav_bar a:hover {
	color : #beb0a7;
	font-size: 1.5em;
}

.container {
	position: absolute;
	top : 150px;
	display : flex;
	flex-direction: column;
	margin : auto;
	margin-left: 50px;
}

.container h1 {
	color : #393475;
}
